.movie-list {
  display: grid;

  @media all and (min-width: 400px) {
    grid-template-columns: repeat(auto-fill,  minmax(150px, 1fr));
    grid-gap: 10px;
    grid-template-rows: initial;
  }

  @media all and (min-width: 980px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
